<div class="palm-text-wrapper">
    <div class="palm-body-title">Developing CUMTD</div>
    <div class="palm-body-text">
        The tracker was developed by <a href="http://jeffwheeler.name">Jeff
            Wheeler</a> at the University of Illinois at Urbana-Champaign, in just
        a few days. It was designed for entry into Palm&apos;s Student
        Application Showcase at the ACM Reflections | Projections conference.
    </div>
    <div class="palm-body-text">
        CUMTD is the Champaign-Urbana Mass Transit District, which provides
        bus service the the Champaign-Urbana area, including to the entire
        UIUC campus. 
    </div>
    <div class="palm-info-text oblique">
        Of course, the Champaign-Urbana Mass Transit District owns the CUMTD
        name and logo. Data used in this application is pulled from free and
        open data sources already published by the CUMTD on the web.
    </div>
</div>
